
$bg-primary: #4070f4;
$bg-secondary: #ffffff;
$bg-third: #000000;
$bg-extra: #ff0000;

$text-color-primary: #000000;
$text-color-secondary: #ffffff;
$text-color-extra: #ff0000;

$placeholder: #8c8482;
$error: #ff0000;

$link: #4070f4;