
$bg-primary: #3964f1;
$bg-secondary: #ffffff;
$bg-third: #eeeeee;

$text-color-primary: #000000;
$text-color-secondary: #ffffff;
$text-color-extra: #ff0000;

$checkbox-border: #000000;
$checkbox-bg-hover: rgba(#3964f1, .1);
$checkbox-bg-checked: #2196f3;
$checkbox-checked-element: #ffffff;

$link: #3964f1;

$button-primary-bg: #3964f1;
$button-primary-color: #ffffff;
$button-secondary-bg: #000000;
$button-secondary-color: #ffffff;
$button-negative-bg: #ff0000;
$button-negative-color: #ffffff;
