@import "../../utils/styles/variables.scss";
$name: "button";

.#{$name} {
    min-height: 45px;
    font-size: 16px;
    font-weight: 600;
    min-width: 100px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:disabled {
        opacity: .5;
    }

    &--primary {
        color: $text-color-secondary;
        background-color: rgba($bg-primary, .9);
        

        &:hover,
        &:focus {
            background-color: $bg-primary;
        }
    }

    &--secondary {
        color: $text-color-secondary;
        background-color: rgba($bg-third, .9);

        &:hover,
        &:focus {
            background-color: $bg-third;
        }
    }

    &--negative {
        color: $text-color-secondary;
        background-color: rgba($bg-extra, .9);

        &:hover,
        &:focus {
            background-color: $bg-extra;
        }
    }

    &--large {
        width: 100%;
    }
}